.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  row-gap: 0;
  font-family: var(--font-poppins);
  background-color: var(--foreground);
  padding-top: 120px;
  padding: 0 3%;
  color: var(--background);
  padding-top: var(--nav-height);
}
.page,
.main {
  scroll-behavior: smooth;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.productImage {
  position: relative;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1440px) {
  .product {
    margin: 3rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 4rem;
    max-width: 1440px;
  }

  .productImage {
    grid-area: 1 / 1 / 2 / 2;
  }
  .productInfo {
    grid-area: 1 / 2 / 2 / 3;
  }
}
